In [55]:
import random
import pandas as pd
import csv

In [46]:
ina_toy_data = [random.random() * 500.0, 5.0, 34534679852.234234234]

In [51]:
print ina_toy_data

[407.1787827156899, 5.0, 34534679852.23424]

In [52]:
newDF = pd.DataFrame(columns=['mA','V','time'])

In [53]:
for i in list(range(10)):
    ina_toy_data = [random.random() * 500.0, 5.0, 34534679852.234234234]
    #print ina_toy_data
    newDF = newDF.append({'mA' : ina_toy_data[0] , 'V' : ina_toy_data[1], 'time': ina_toy_data[2]},ignore_index=True)

In [54]:
newDF

           mA    V          time
0  382.388198  5.0  3.453468e+10
1  334.880684  5.0  3.453468e+10
2  120.192684  5.0  3.453468e+10
3  311.005315  5.0  3.453468e+10
4  156.138609  5.0  3.453468e+10
5   53.364644  5.0  3.453468e+10
6  206.107308  5.0  3.453468e+10
7   46.388294  5.0  3.453468e+10
8  153.751567  5.0  3.453468e+10
9  474.936121  5.0  3.453468e+10